@charset "UTF-8";
.cart-box {
  width: 400px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.cart-item button {
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.checkout-btn {
  width: 100%;
  background: red;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
